html, body {
  font-family: 'Nunito Sans', sans-serif;
  background: #fff;
  color: #000;
  margin: 0;
  width: 100%;
  height: 100%;
}

header {
  height: 70px;
  background-color: #003BDE;
  color: #fff;
  line-height: 70px;
}

.logo {
  margin-left: 16px;
  display: inline-block;
}

header a {
  color: #fff;
  border: 0;
}

.back-to-rent-com {
  border-radius: 20px;
  border: 1px solid #fff;
  font-size: 15px;
  text-align: center;
  height: 36px;
  font-weight: 400;
  padding: 0 15px;
  text-decoration: none;
  display: block;
  float: right;
  line-height: 36px;
  margin: 16px;
}

.wrapper {
  text-align: center;
}

.inner {
  max-width: 800px;
  text-align: left;
  margin: 0 auto;
  padding: 0 16px;
}

/* Big Tour */

.big-tour-image {
  border-radius: 4px;
  width: 300px;
  margin-right: 16px;
  height: 180px;
  float: left;
}

.big-tour-content {
  display: inline-block;
  max-width: 484px;
}

.big-tour-time {

}

.big-tour-time strong {
  text-transform: uppercase;
}

.big-tour-countdown {
  color: #013BDD;
  font-weight: bold;
}

.big-tour-property-name {
  font-weight: bold;
}

/* Tour List */
.upcoming-events {
  clear: both;
  text-transform: uppercase;
  font-weight: bold;
  padding: 30px 0 10px 0;
}

.tours {

}

.tour {
  display: inline-block;
  margin-right: 8px;
  width: 168px;
}

.tour-image {
  width: 168px;
  height: 100px;
  border-radius: 4px;
}

.tour-property-name {
  font-weight: bold;
}
